# Server
#server.address=0.0.0.0
#server.port=7443

# SSL
#security.require-ssl=true
#server.ssl.key-store: 
#server.ssl.key-store-password:
#server.ssl.keyStoreType: 
#server.ssl.keyAlias: 

# Error handling
#server.error.whitelabel.enabled=false
#server.error.include-exception=true
#server.error.include-stacktrace=always

# Cookie Settings
#server.servlet.session.cookie.same-site=None

# Database
#spring.datasource.url=
#spring.datasource.username=
#spring.datasource.password=

# Spring JPA
#spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation= true
#spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
#spring.jpa.hibernate.ddl-auto=none
#spring.jpa.show-sql=true
#spring.jpa.properties.hibernate.format_sql=true

# Freemarker
#spring.freemarker.suffix=.ftl
#spring.freemarker.settings.template_exception_handler=rethrow

# File Upload
spring.servlet.multipart.max-file-size=100MB
spring.servlet.multipart.max-request-size=100MB

# Email
#spring.mail.host=
#spring.mail.port=
#spring.mail.username=
#spring.mail.password=
#spring.mail.properties.mail.smtp.auth=true
#spring.mail.properties.mail.smtp.starttls.enable=true
#etwig.mail.display-name=

# eTWIG.
#etwig.app.name=eTWIG
#etwig.app.owner=
etwig.app.url=
#etwig.media.root-location=
#etwig.security.cookie-key=

#security.ignored=/myAssets/**