body {
  background-color: white;
}

footer {
	font-weight: bolder;
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
}

.etwig-main{
	width: 95%;
	margin-left: auto;
  	margin-right: auto;
}

.navbar-brand img {
  height: 30px;
  float: left;
  margin-right: 10px;
}
