/* 
	Main stylesheets that across all webpages.
 */


.bold-text{
	font-weight: bold;
}

.theme-color-text{
	color: #004aad!important;
}

/* Make the warning button darker. */

.btn-outline-warning{
	color: darkorange!important;
	border-color: darkorange!important;
	background-color: #FFFFFF!important;
}

.btn-outline-warning:active, .btn-outline-warning:focus, .btn-outline-warning:hover {
  color: #FFFFFF!important;
  background-color: darkorange!important;
}

.callout.callout-primary {
  border-left-color: #004aad;
}

.dark-mode .callout.callout-primary {
  border-left-color: #004aad;
}

.select2-results__option--highlighted,.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"]{
	color:#fff;
	background-color:#004aad!important;
}

.required-symbol{
	color: #bf3131;
	font-weight: bold;
}

.datepicker{
	margin-top: -1px; 
	position: absolute; 
	z-index: 1;
}