body {
  background-color: white;
}

footer {
	font-weight: bolder;
    background-color: black;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
}