/**
	Stylesheet for welcome page
*/

html, body {
    height: 100%;
    width: 100%;
}

#welcome-label{
	font-weight: bolder;
}

.btn-outline-warning{
	color: darkorange;
	border-color: darkorange;
}

.btn-outline-warning:active, .btn-outline-warning:focus, .btn-outline-warning:hover {
  color: #FFFFFF;
  background-color: darkorange!important;
}
